@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Shadows Into Light', cursive;
  background: url('./images/bg.jpg') no-repeat top/cover;
  background-attachment: fixed;
  letter-spacing: 3px;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 900;
}

h1 i {
  margin-right: 20px;
  
}

.container {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 15px 0;
  box-shadow: 2px 4px 14px rgba(255, 255, 255, 0.65);
}

.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 50px;
}

input:focus, button:focus {
  outline: none;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  70% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.project {
  position: relative;
  width: 200px;
  height: 200px;
  background: url('./images/js20-2.JPG') no-repeat center/cover;
  border: 5px solid #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.33);
}

.project-info {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  transition: opacity .2s ease-in;
}

.project-info a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
}

.project-info a:hover {
  background-color: #fff;
  color: #000;
}

.project-info:hover {
  opacity: 1;
}

.no-provide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.no-provide span {
  border-radius: 5px;
  border: 1px solid #fff;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5px;
  font-weight: 600;
}

.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.55);
  padding: 30px;
  text-align: center;
  bottom: 0;
}

.go-top {
  opacity: 0;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  transition: all .2s ease-in-out;
}

.audio-toggler {
  cursor: pointer;
  position: fixed;
  bottom: 15%;
  right: 55px;
  font-size: 50px;
  color: #fff;
  animation: rotate 3s linear infinite;
  animation-play-state: running;
}

.audio-toggler.pause {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.go-top.show {
  opacity: 1;
}

.go-top:hover {
  color: #fff;
  background-color: #000;
}

.time-container {
  width: 235px;
  cursor: pointer;
  position: fixed;
  top: 15%;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.33);
  transition: all .3s ease-in-out;
}

.time-container::after {
  content: '';
  position: absolute;
  left: -20%;
  bottom: 0;
  width: 0;
  height: 0;
  /* 將容器外觀變形 */
  border: 24px solid;
  border-color: #ff4c4c #ff4c4c #ff4c4c transparent;
}

.time-container.hide {
  transform: translateX(240px);
}

@media (max-width: 950px) {
  .project-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .project-container {
    grid-template-columns: 1fr;
  }
  .project {
    width: 300px;
    height: 300px;
  }

  .audio-toggler {
    bottom: 120px;
    right: 50px;
  }
}
